<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Weather Journal</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
 <body>

<container>
    <header class="container">
        <h1 class="logo"><a href="index.html">Travel App</a></h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="index.html">Travel Blog</a></li>
                <li><a href="index.html">Subscribe</a></li>
                <li><a href="index.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>

<main>
<section class="travel_app">
    <section class="trip_details" id="trip_details">
          <div id="travel_app_title">
              <h3>Plan your next trip</h3>
          </div>
          <form id="create-new-trip" class="form-new-trip" onsubmit="return CLient.handleSubmit(event)">
            <label for="destination">To</label>
            <input id="trip_destination" name="destination" type="text" placeholder="Enter city" required>
            <label for="departure_date">Departure</label>
            <input id="departure_date" name="departure_date" type="date" required>
            <label for="return_date">Return</label>
            <input id="return_date" name="return_date" type="date" required>
            </div>
            <div id="error_message" class="error_message"></div>
            <input type="submit" class="button" id="button_submit" name="" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
            <input type="submit" id="button_clear" class="button" value="Clear Form">
          </form>
    </section>

      <section class="trip_plan" id="trip_plan">
                <div class="date-info">
                    <h4>Trip Information:</h4>
                    <p id="destination_result">Destination: <span id="destination"></span></p>
                    <p id="departure_date_result">Departure Date: <span id="departure"></span></p>
                    <p id="return_date_result">Return Date: <span id="return"></span></p>
                    <p id="days_left_result">Days Until Trip: <span id="days_left"></span> Days</p>
                    <p id="trip_duration_result">Trip Duration: <span id="trip_duration"></span> Days</p>
                </div>
                <div id="more-info">
                    <h4>More information about your destination:</h4>
                    <p id="weather_description">Weather Description: <span id="weather_desc"></span></p>
                    <p id="languages_result">Official Language(s): <span id="languages"></span></p>
                </div>
              <div id="image-info">
                  <h4>Destination Images:</h4>
                  <div id="pixabay-img">
                      <img alt="city_img_1" id="img1">
                      <img alt="city_img_2" id="img2">
                      <img alt="city_img_3" id="img3">
                  </div>
              </div>
              <div class="print">
                <button class="button" id="printBTN" href="#">Print</button>
                <button type="submit" id="deleteBTN" class="button" value="Clear Data">Clear Data</button>
              </div>
          
  </section>
</section>
</main>



    <footer class="footer">
        <div class="footer_author">©2020 Nicole Aguirrebena. All rights reserved. </div>
    </footer>

</container>
<script>
  // Check that service workers are supported
  if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
      })};
  
  
  
</script>

</body>
</html>